{% extends 'base.html' %}
{% block header %}<h1>Editar Usuário</h1>{% endblock %}
{% block content %}
  <form method="post">
    <label for="nome">Nome</label>
    <input name="nome" id="nome" value="{{ usuario['nome'] }}" required>
    <label for="nome">Senha</label>
    <input name="senha" id="senha" value="{{ usuario['senha'] }}" required>
    <label for="email">Email</label>
    <input name="email" id="email" value="{{ usuario['email'] }}" required>
    <button type="submit">Salvar</button>
  </form>
  <hr>

<form method="post" action="{{ url_for('auth.deletar_usuario', id_usuario=usuario['Id_Usuario']) }}"></form>
  <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza?')">Excluir minha conta</button>
</form>
{% endblock %}